main {
  width: 100%;
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .password-form {
    background-color: var(--color-gray-500);
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 45px;

    & .password-recovery {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 16px;

      & .new-password,
      .new-password-confirmation {
        display: flex;
        flex-direction: column;
      }

      & label {
        color: var(--color-gray-200);
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 8px;
        text-transform: uppercase;
      }

      & input {
        border: 1px solid var(--color-gray-300);
        border-radius: 8px;
        padding-left: 16px;
        height: 48px;
        font-size: 14px;
        color: var(--color-gray-100);
        outline: none;
        font-size: 14px;
        transition: 0.5s;
      }

      & input:focus {
        border: 2px solid var(--color-green-100);
      }

      & .message {
        display: none;
        font-size: 10px;
        color: red;
        margin-top: -12px;
      }
    }

    & .update-password {
      width: 100%;
    }

    & button {
      width: 100%;
      border: none;
      background-color: var(--color-green-100);
      color: var(--color-white);
      font-size: 14px;
      font-weight: bold;
      padding: 15px 20px;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
    }

    & button:hover {
      background-color: var(--color-green-200);
    }
  }
}
