@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-gray-400);
  font-family: "Work Sans", sans-serif;
  overflow: hidden;
}

:root {
  --color-gray-100: #1f2523;
  --color-gray-200: #4d5c57;
  --color-gray-300: #cdd5d2;
  --color-gray-400: #e4ece9;
  --color-gray-500: #f9fbfa;
  --color-white: #ffffff;
  --color-green-100: #1f8459;
  --color-green-200: #2cb178;
  --color-red-100: #F14646;
  --color-red-200: #FF6B6B;
  --color-black: #000000;
}
